
.contact-hero{
    height: 60vh;
    background: url(../../images/contact-banner.jpg) center center/cover no-repeat;
    background-position: 50% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #CCA64F;
    h1{
       font-size: 4rem;
       color: #ffff; 
       text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.69);
    }
}



.postcard{
    height: 100vh;
    padding: 3rem 8rem 7rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1dbba;

    .postcard-container{
        width: 100%;
        height: 100%;
        background-color: #e8d4a6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        border: 5px solid #CCA64F;
        padding: 1rem;
        .postcard-title{
            font-size: 1.75rem;
            border-bottom: 2px solid black;
            width: 90%;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
      
        }

        .postcard-form{
            display: flex;
            width: 90%;
            height: 100%;
            justify-content: center;
            align-items: center;
            
            .postcard-text-area {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                border-right: 2px solid black;
      
                .postcard-message{
                    width: 100%;
                    height: 100%;
                    min-height: 100%;
                    min-width: 100%;
                    max-width: 100%;
                    background-color: #e8d4a6;
                    border: none;
                    font-size: 1.25rem;
                    border-radius: 5px;
                }
                @media screen and (max-width: 1250px){
                    .postcard-message{
                        width: 100%;
                    }
                }
                
            }
            @media screen and (max-width: 1250px){
                .postcard-text-area{
                    border-right: 0;
                    width: 100%;
                }
            }

            .postcard-input-fields{
                width: 50%;
                height: 85%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;

                .input-spacing{
                    width: 80%;
                    
                    font-size: 1.15rem;
                    border:none;
                    background-color: #e8d4a6;
                    border-bottom: 2px solid black;
                    
                }
            }
            @media screen and (max-width: 1250px){
                .postcard-input-fields{
                    display:flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    width: 80%;
                }
               
            }
        }
        .btn-contact{
            margin-left: 27rem;
        }
        @media screen and (max-width: 1250px){
            .btn-contact{
                margin: 0;
                padding-top: 1rem;
            }
        }
    }
}



@media screen and (max-width: 1250px){
    .postcard{
        padding: 3rem;
        border-right: 0px;
        
    }
    
    .postcard-form{
        flex-direction: column;
       height: 80%;
       padding: 0;
       width: 100%;
     
    }
    
}


// @media screen and (max-width: 2200px){


//     .postcard{
//         height: 100vh;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background-color: #ECD59A;
    
//         .postcard-container{
//             width: 90%;
//             height: 80%;
//             background-color: #CCA64F;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-direction: column;
//             border-radius: 10px;
//             .postcard-title{
//                 font-size: 3rem;
//                 border-bottom: 2px solid black;
//                 width: 95%;
//                 text-align: center;
//             }
    
//             .postcard-form{
//                 display: flex;
//                 width: 90%;
//                 height: 100%;
//                 justify-content: center;
//                 align-items: center;
                
//                 .postcard-text-area{
//                     width: 50%;
//                     height: 100%;
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     padding: 1rem;
                    
//                     border-right: 2px solid black;
//                     .postcard-message{
//                         width: 100%;
//                         height: 100%;
//                         max-height: 95%;
//                         max-width: 100%;
//                         background-color: #E8C169;
//                         border: none;
//                         font-size: 1.5rem;
//                         border-radius: 5px;
//                         margin-right: 1rem;
//                         margin-left: -2rem;
//                     }
                    
//                 }
    
//                 .postcard-input-fields{
//                     width: 50%;
//                     height: 85%;
//                     display: flex;
//                     justify-content: space-evenly;
//                     align-items: center;
//                     flex-direction: column;
    
//                     .input-spacing{
//                         width: 80%;
//                         height: 6%;
//                         font-size: 1.5rem;
//                         border:none;
//                         background-color: #CCA64F;
//                         border-bottom: 2px solid black;
                        
//                     }
//                 }
//             }
//         }
//     }
    
// }

// @media screen and (max-width: 1250px){



//     .postcard{
//         height: 100vh;
//         display: flex;
//         padding-top: 1rem;
//         padding-bottom: 2rem;
//         justify-content: center;
//         align-items: center;
//         background-color: #ECD59A;
    
//         .postcard-container{
//             width: 90%;
//             height: 100%;
//             background-color: #CCA64F;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-direction: column;
//             border-radius: 10px;
//             padding-top: 3rem;
//             padding-bottom: 4rem;
//             .postcard-title{
//                 font-size: 2rem;
//                 border-bottom: 2px solid black;
//                 width: 90%;
//                 text-align: center;
//             }
    
//             .postcard-form{
//                 display: flex;
//                 flex-direction: column;
//                 width: 90%;
//                 height: 100%;
//                 justify-content: center;
//                 align-items: center;
                
//                 .postcard-text-area{
//                     width: 100%;
//                     height: 100%;
//                     margin-right: -3rem;
              
//                     border-right: 0px;
//                     .postcard-message{
//                         display: flex;
//                         width: 95%;
//                         height: 85%;
//                         max-height: 100%;
//                         max-width: 95%;
//                         background-color: #E8C169;
//                         border: none;
//                         font-size: 1.5rem;
//                         border-radius: 5px;
//                     }
                    
//                 }
    
//                 .postcard-input-fields{
//                     width: 80%;
//                     height: 100%;
//                     display: flex;
//                     justify-content: space-evenly;
//                     align-items: center;
//                     flex-direction: column;
    
//                     .input-spacing{
//                         width: 90%;
//                         height: 100%;
//                         font-size: 1.5rem;
//                         border:none;
//                         background-color: #CCA64F;
//                         border-bottom: 2px solid black;
                        
//                     }
//                 }
//             }
//         }
//     }

// }