.contact-hero{
    height: 60vh;
    background: url(../../images/contact-banner.jpg) center center/cover no-repeat;
    background-position: 50% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
       font-size: 5rem;
       color: #ffff; 
       text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.69);
    }
}

.questions-banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    height: 30vh;
    background-color: #ECD59A;
    p{
      width: 80%;  
      text-align: justify;
    }
}

.postcard{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECD59A;

    .postcard-container{
        width: 90%;
        height: 90%;
        background-color: #CCA64F;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        .postcard-title{
            font-size: 3rem;
            border-bottom: 2px solid black;
            width: 90%;
            text-align: center;
        }

        .postcard-form{
            display: flex;
            width: 90%;
            height: 100%;
            justify-content: center;
            align-items: center;
            
            .postcard-text-area{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                
                border-right: 2px solid black;
                .postcard-message{
                    width: 100%;
                    height: 100%;
                    max-height: 98%;
                    max-width: 100%;
                    background-color: #E8C169;
                    border: none;
                    font-size: 1.5rem;
                    border-radius: 5px;
                }
                
            }

            .postcard-input-fields{
                width: 50%;
                height: 85%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;

                .input-spacing{
                    width: 80%;
                    height: 6%;
                    font-size: 1.5rem;
                    border:none;
                    background-color: #CCA64F;
                    border-bottom: 2px solid black;
                    
                }
            }
        }
    }
}

@media screen and (max-width: 2550px){
    .questions-banner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        height: 30vh;
        background-color: #ECD59A;
        p{
          width: 80%;  
          text-align: justify;
          padding-top: 1rem;
        }
    }
}


@media screen and (max-width: 2200px){

    .questions-banner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        height: 30vh;
        background-color: #ECD59A;
        p{
          width: 80%;  
          text-align: justify;
          padding-top: 1rem;
        }
    }

    .postcard{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ECD59A;
    
        .postcard-container{
            width: 90%;
            height: 80%;
            background-color: #CCA64F;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            .postcard-title{
                font-size: 3rem;
                border-bottom: 2px solid black;
                width: 95%;
                text-align: center;
            }
    
            .postcard-form{
                display: flex;
                width: 90%;
                height: 100%;
                justify-content: center;
                align-items: center;
                
                .postcard-text-area{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                    
                    border-right: 2px solid black;
                    .postcard-message{
                        width: 100%;
                        height: 100%;
                        max-height: 95%;
                        max-width: 100%;
                        background-color: #E8C169;
                        border: none;
                        font-size: 1.5rem;
                        border-radius: 5px;
                        margin-right: 1rem;
                        margin-left: -2rem;
                    }
                    
                }
    
                .postcard-input-fields{
                    width: 50%;
                    height: 85%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;
    
                    .input-spacing{
                        width: 80%;
                        height: 6%;
                        font-size: 1.5rem;
                        border:none;
                        background-color: #CCA64F;
                        border-bottom: 2px solid black;
                        
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 1250px){

    .questions-banner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.25rem;
        height: 30vh;
        background-color: #ECD59A;
        padding-top: 2rem;
        p{
          width: 80%;  
          text-align: justify;
        }
    }

    .postcard{
        height: 100vh;
        display: flex;
        padding-top: 1rem;
        padding-bottom: 2rem;
        justify-content: center;
        align-items: center;
        background-color: #ECD59A;
    
        .postcard-container{
            width: 90%;
            height: 100%;
            background-color: #CCA64F;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            padding-top: 3rem;
            padding-bottom: 4rem;
            .postcard-title{
                font-size: 2rem;
                border-bottom: 2px solid black;
                width: 90%;
                text-align: center;
            }
    
            .postcard-form{
                display: flex;
                flex-direction: column;
                width: 90%;
                height: 100%;
                justify-content: center;
                align-items: center;
                
                .postcard-text-area{
                    width: 100%;
                    height: 100%;
                    margin-right: -3rem;
              
                    border-right: 0px;
                    .postcard-message{
                        display: flex;
                        width: 95%;
                        height: 85%;
                        max-height: 100%;
                        max-width: 95%;
                        background-color: #E8C169;
                        border: none;
                        font-size: 1.5rem;
                        border-radius: 5px;
                    }
                    
                }
    
                .postcard-input-fields{
                    width: 80%;
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;
    
                    .input-spacing{
                        width: 90%;
                        height: 100%;
                        font-size: 1.5rem;
                        border:none;
                        background-color: #CCA64F;
                        border-bottom: 2px solid black;
                        
                    }
                }
            }
        }
    }

}