.contact-hero{
    height: 50vh;
    background: url(../../images/about-woman-set2.jpg) center center/cover no-repeat;
    background-position: 50% 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
       font-size: 5rem;
       color: #ffff; 
    }
}