.services{
    background-color: #f5ebdc;
    height: 100%;
}


.services-hero{
    height: 50vh;
    background: url(../../images/wedding-services-banner.jpg) center center/cover no-repeat;
    background-position: 50% 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #CCA64F;
    h1{
       font-size: 5rem;
       color: #ffff; 
       text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.69);
    }
}

.options-right{
    height: 50vh;
    background-color: #72151F;
    padding: 1rem 0rem 1rem 1rem;
    margin-left: 5%;
    margin-top: 1%;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    border: 3px solid #CCA64F;
    border-right: 0;
    box-shadow: 2px 2px 8px 1px rgba(68, 68, 68, 0.729);

    .options-right-photo-1{
        width: 30%;
        height: 100%;
        margin-right: 2rem;
        background-image: url("../../images/piggy-back-services.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 10px;
    }
    .options-right-photo-2{
        width: 30%;
        height: 100%;
        margin-right: 2rem;
        background-image: url("../../images/maternity-services.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 10px;
    }
    .options-right-photo-3{
        width: 30%;
        height: 100%;
        margin-right: 2rem;
        background-image: url("../../images/car-services.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 10px;
    }
    .content-container{
        width: 70%;
        h4{
            width: 100%;
            font-size: 2.5em;
            color: #ffff;
            border-bottom: 2px solid #fff;
        }
        .list-container{
            width: 100%;
            height: 74%;
            padding: 1.5rem 1rem 1rem 1rem;
            p{
                font-size: 1.75rem;
                color: black;
            }
            ul{
                font-size: 1.5rem;
                margin-left: 2rem;
                margin-top: 1rem;
                color: black;
            }
        }
        .button-content-container{
            display: flex;
            padding-right: 1rem;
            justify-content: space-between;
            p{
                display: flex;
                font-size: 1.5rem;
                align-items: flex-end;
                color: #fff;
            }
        }
    }   
}


.options-left{
    height: 50vh;
    background-color: #72151F;
    padding: 1rem 1rem 1rem 0rem;
    margin-right: 5%;
    margin-top: 1%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    border: 3px solid #CCA64F;
    border-left: 0;
    box-shadow: 2px 2px 8px 1px rgba(68, 68, 68, 0.729);


    .options-left-photo-1{
        width: 30%;
        height: 100%;
        margin-left: 2rem;
        background-image: url("../../images/new-2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 10px;
    }

    .options-left-photo-2{
        width: 30%;
        height: 100%;
        margin-left: 2rem;
        background-image: url("../../images/drinking-brides-below.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 10px;
    }
    .options-left-photo-3{
        width: 30%;
        height: 100%;
        margin-left: 2rem;
        background-image: url("../../images/destination-services.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 10px;
    }
    .content-container-left{
        width: 70%;
        
        h4{
            width: 100%;
            font-size: 2.5em;
            color: #ffff;
            border-bottom: 2px solid #fff;
            padding-left: 2rem;
        }
        .list-container-left{
            width: 100%;
            height: 74%;
            padding: 1.5rem 1rem 1rem 3rem;
            p{
                font-size: 1.75rem;
                color: black;
            }
            ul{
                font-size: 1.5rem;
                margin-left: 2rem;
                margin-top: 1rem;
                color: black;
            }
        }
        .button-content-container-left{
            display: flex;
            padding-left: 2rem;
            justify-content: space-between;
            p{
                display: flex;
                font-size: 1.5rem;
                align-items: flex-end;
                color: #fff;
            }
        }
    }   
}

.disclaimer{
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: rgb(106, 106, 106);
}

@media screen and (min-width: 1250px) and (max-width: 2000px){
    .options-right{
        height: 50vh;
        background-color: #72151F;
        padding: 1rem 0rem 1rem 1rem;
        margin-left: 5%;
        margin-top: 1%;
        border-radius: 10px 0px 0px 10px;
        display: flex;
    
    
        .options-right-photo-1{
            width: 30%;
            height: 100%;
            margin-right: 2rem;
            background-image: url("../../images/piggy-back-services.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
        .options-right-photo-2{
            width: 30%;
            height: 100%;
            margin-right: 2rem;
            background-image: url("../../images/maternity-services.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
        .options-right-photo-3{
            width: 30%;
            height: 100%;
            margin-right: 2rem;
            background-image: url("../../images/car-services.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
        .content-container{
            width: 70%;
            h4{
                width: 100%;
                font-size: 2rem;
                color: #ffff;
                border-bottom: 2px solid #fff;
            }
            .list-container{
                width: 100%;
                height: 74%;
                padding: 1rem 1rem;
                p{
                    font-size: 1.5rem;
                    color: #e8d4a6;
                }
                ul{
                    font-size: 1.25rem;
                    margin-left: 2rem;
                    margin-top: .5rem;
                    color: #e8d4a6;
                }
            }
            .button-content-container{
                display: flex;
                padding-right: 1rem;
                justify-content: space-between;
                margin-top: -1.75rem;
                p{
                    display: flex;
                    font-size: 1rem;
                    align-items: flex-end;
                    color: #e8d4a6;
                }
            }
        }   
    }

    .options-left{
        height: 50vh;
        background-color: #72151F;
        padding: 1rem 1rem 1rem 0rem;
        margin-right: 5%;
        margin-top: 1%;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        .options-left-photo-1{
            width: 30%;
            height: 100%;
            margin-left: 2rem;
            background-image: url("../../images/new-2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
    
        .options-left-photo-2{
            width: 30%;
            height: 100%;
            margin-left: 2rem;
            background-image: url("../../images/drinking-brides-below.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
        .options-left-photo-3{
            width: 30%;
            height: 100%;
            margin-left: 2rem;
            background-image: url("../../images/destination-services.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
        .content-container-left{
            width: 70%;
            
            h4{
                width: 100%;
                font-size: 2rem;
                color: #ffff;
                border-bottom: 2px solid #fff;
                padding-left: 2rem;
            }
            .list-container-left{
                width: 100%;
                height: 74%;
                padding: 1rem 3rem;
                p{
                    font-size: 1.5rem;
                    color: #e8d4a6;
                }
                ul{
                    font-size: 1.25rem;
                    margin-left: 2rem;
                    margin-top: .5rem;
                    color: #e8d4a6;
                }
            }
            .button-content-container-left{
                display: flex;
                padding-left: 2rem;
                justify-content: space-between;
                margin-top: -1.75rem;
                p{
                    display: flex;
                    font-size: 1rem;
                    align-items: flex-end;
                    color: #e8d4a6;
                }
            }
        }   
    }
    

}

@media screen and (max-width: 1249px){

    .options-right{
        height: 50vh;
        background-color: #72151F;
        padding: 1rem 0rem 1rem 1rem;
        margin-left: 3%;
        margin-top: 1%;
        border-radius: 10px 0px 0px 10px;
        display: flex;
    
    
        .options-right-photo-1{
            width: 30%;
            height: 100%;
            margin-right: 1rem;
            background-image: url("../../images/piggy-back-services.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
        .options-right-photo-2{
            width: 30%;
            height: 100%;
            margin-right: 1rem;
            background-image: url("../../images/maternity-services.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 90% 50%;
            border-radius: 10px;
        }
        .options-right-photo-3{
            width: 30%;
            height: 100%;
            margin-right: 1rem;
            background-image: url("../../images/car-services.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
        .content-container{
            width: 70%;
            h4{
                width: 100%;
                font-size: 1.5em;
                color: #ffff;
                border-bottom: 2px solid #fff;
            }
            .list-container{
                width: 100%;
                height: 74%;
                padding: 0.5rem 0rem;
                p{
                    font-size: 1.25rem;
                    color: #e8d4a6;
                }
                ul{
                    font-size: 1.10rem;
                    margin-left: 2rem;
                    margin-top: .5rem;
                    color: #e8d4a6;
                }
            }
            .button-content-container{
                display: flex;
                padding-right: 1rem;
                justify-content: space-between;
                margin-top: -1.15rem;
                p{
                    display: flex;
                    font-size: 1rem;
                    align-items: flex-end;
                    color: #e8d4a6;
                }
            }
        }   
    }

    .options-left{
        height: 50vh;
        background-color: #72151F;
        padding: 1rem 1rem 1rem 0rem;
        margin-right: 3%;
        margin-top: 1%;
        border-radius: 0px 10px 10px 0px;
        display: flex;
    
    
    
        .options-left-photo-1{
            width: 30%;
            height: 100%;
            margin-left: 2rem;
            background-image: url("../../images/new-2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
    
        .options-left-photo-2{
            width: 30%;
            height: 100%;
            margin-left: 2rem;
            background-image: url("../../images/drinking-brides-below.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
        .options-left-photo-3{
            width: 30%;
            height: 100%;
            margin-left: 2rem;
            background-image: url("../../images/destination-services.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 10px;
        }
        .content-container-left{
            width: 70%;
            h4{
                width: 100%;
                font-size: 1.5em;
                color: #ffff;
                border-bottom: 2px solid #fff;
                padding-left: 2rem;
            }
            .list-container-left{
                width: 100%;
                height: 70%;
                padding: 0.5rem 2rem;
                p{
                    font-size: 1rem;
                    color: #e8d4a6;
                }
                ul{
                    font-size: 1rem;
                    margin-left: 2rem;
                    margin-top: .5rem;
                    color: #e8d4a6;
                }
            }
            .button-content-container-left{
                display: flex;
                padding-left: 1rem;
                justify-content: space-between;
                margin-top: -1.15rem;
                p{
                    display: flex;
                    font-size: 1rem;
                    align-items: flex-end;
                    color: #e8d4a6;
                }
            }
        }   
    }

}

@media screen and (max-width: 768px){
    .options-right{
        width: 100%;
        margin: 0;
        margin-top: 10px;
        border-radius: 0;
        border-left: 0;
        .options-right-photo-1, .options-right-photo-2, .options-right-photo-3{
            display: none;
        }
        .content-container{
            width: 100%;
            margin-right: 10px;
        }
    }
    .options-left{
        width: 100%;
        margin: 0;
        margin-top: 10px;
        border-radius: 0;
        border-left: 0;
        padding-right: 0;
        padding-left: 1rem;
        .options-left-photo-1, .options-left-photo-2, .options-left-photo-3{
            display: none;
        }
        .content-container-left{
            width: 100%;
            margin-right: 10px;
            margin: 0;
            h4{
                padding-right: 0;
                width: 100%;
                padding-left: 0;
            }
        }
    }
    .disclaimer{
        font-size: 1.25rem;
        padding: 1rem;
    }
}